@model WEB_APPLICATION.Models.Alerta

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar</h1>

<h4  >Alerta</h4>
<hr />
<div   class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrecipitacionProm" class="control-label"></label>
                <input asp-for="PrecipitacionProm" class="form-control" />
                <span asp-validation-for="PrecipitacionProm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecipitacionMax" class="control-label"></label>
                <input asp-for="PrecipitacionMax" class="form-control" />
                <span asp-validation-for="PrecipitacionMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecipitacionMin" class="control-label"></label>
                <input asp-for="PrecipitacionMin" class="form-control" />
                <span asp-validation-for="PrecipitacionMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNivel" class="control-label"></label>
                <select asp-for="IdNivel" class ="form-control" asp-items="ViewBag.IdNivel"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdSensor" class="control-label"></label>
                <select asp-for="IdSensor" class ="form-control" asp-items="ViewBag.IdSensor"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista de Alertas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
