@{
    ViewData["Title"] = "Home Page";
}
@*
    <div class="text-center">
    <h1 class="display-4">PAGINA WEB PARA MONITOREO DE ENTIDADES</h1>
    </div>*@

<html>

<body>

    <div style="text-align:center;margin-top:290px">
        <font color="black" face="Comic Sans MS">
            <h1 style="font-size:50px;"><strong><i>APLICACION WEB PARA LA GESTION DE ENTIDADES DEL PROYECTO PRY2021267</i></strong></h1>
        </font>
    </div>
 

</body>
</html>

